<title><%- metaData.title %></title>
<meta name="title" content="<%- metaData.title %>" />
<meta name="description" content="<%- metaData.desc %>" />
<meta name="keywords" content="<%- metaData.keywords %>" />

<meta itemprop="name" content="<%- metaData.title %>"/>
<meta itemprop="description" content="<%- metaData.desc %>"/>
<meta itemprop="image" content="<%- metaData.image %>"/>

<meta name="theme-color" content="#8d204a">
<meta name="robots" content="index, follow" />
<meta name="classification" content="Travel" />
<link rel="image_src" href="/img/logo_75.png" type="image/png" />
<!-- <meta name="copyright" content="2019 Le Travenues Pvt. Ltd." /> -->


<link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Expedition Bharat">
<meta name="apple-touch-fullscreen" content="yes">
<link rel="apple-touch-startup-image" href="/img/logo_192.png">
<meta name="apple-mobile-web-app-status-bar-style" content="#8d204a">
<link rel="apple-touch-icon" href="/img/logo.png">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="distribution" content="global" />
<link rel="canonical" href="<%- selfUrl %>" />

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />  
<!-- <meta property="fb:pages" content="17705588269" /> -->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- <meta name="msvalidate.01" content="304648097885BBFEDBC2B3CCE5174B41" />
<link href="https://plus.google.com/u/0/+ixigo" rel="publisher" />
<meta name="verification" content="014f641ac0aa570bffc9658c90a3faf1" />
<meta name="msApplication-ID" content="326fb58c-85ad-4228-95c9-5c1733732599" />
<meta name="msApplication-PackageFamilyName" content="ixigo.ixigoTravel_5cnf0vs0fv58w" />
<meta name="verify-v1" content="lc39he+IeQJNv9zH1+EXWs61M3cUlNTQwx2Nvzm/7OE=" />
<meta name="y_key" content="f6294cee3a6566d3" />
<link rel="alternate" type="application/rss+xml" title="Lowest fares &#38; cheap travel deals brought to you by ixigo.com" href="/rss" /> -->

<meta name="msapplication-TileColor" content="#CCCCCC"/>
<meta name="msapplication-TileImage" content="/img/logo_75.png"/>

<meta http-equiv="Content-Language" content="en" />

<!-- Facebook Meta -->
<!-- <meta property="fb:app_id" content="183011845164105" /> -->
<meta property="og:type" content="website" />
<meta property="og:title" content="<%- metaData.title %>" />
<meta property="og:description" content="<%- metaData.desc %>" />
<%if (metaData.url) { %>
<meta property="og:url" content="<%- metaData.url %>" />
<% } %>
<meta property="og:image" content="<%- metaData.image %>" />

<!-- Twitter Meta -->
<meta name="twitter:card" content="summary" />
<!-- <meta name="twitter:site" content="@ixigo" /> -->
<meta name="twitter:title" content="<%- metaData.title %>" />
<meta name="twitter:description" content="<%- metaData.desc %>" />
<meta name="twitter:image" content="<%- metaData.image %>" />

<!-- <link rel="manifest" href="/manifestv1.json" /> -->
<!-- <link rel="profile" href="http://microformats.org/profile/hcalendar" /> -->
